.bg-image {
    background-image: url("../images/bg-computer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.text-orange {
    color: #d25b00;
}
.borderDiv {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.icon-footer {
    margin: 10px;
    font-size: 20px;
}