@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

.text-title {
    font-family: 'Bebas Neue', cursive !important;
}

.text-bodycopy {
    font-family: 'Roboto', sans-serif !important;
}


.bg-wrapper {
    background-color: #40546a !important;
}

.bg-main {
    background-color: #383838 !important;
}

.bg-highlight-orange {
    background-color: orange !important;
}

.bg-highlight-green {
    background-color: #62ac30 !important;

}

.bg-image-home {
    background-image: url("./images/bg-home-2.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg-image-account {
    background-image: url("./images/bg-account.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.icon-box {
    border-radius: 10px;
    border: 1px solid orange;
    width: 40px;
}

.weather-sm {
    width:300px;
    display: block;
    position: fixed;
    height:160px;
    text-align:right;
    bottom: 25px;
    left: 10px;
    z-index: 999;
    padding:10px;
    border-radius:15px;
    transform: translateX(-73%);
    transition:.5s;
}
.weather-sm:hover {
    border:1px solid #07fdff;
    background-color:#0b0e18db;
    transform: translateX(-10%);
    box-shadow: 6px 6px 20px #5f5e5d;
    transition: .5s;
    
}
.temp-box {
    display:flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid gray;
    padding:10px 10px;
    padding-bottom:0;
    border-radius:50%;
    margin:10px;
    width:25%;
    max-width:100px;
    min-width:90px;
    text-align:center;
    box-shadow: 0px 0px 9px 3px #07fdff;
    
}
.temp-box::after{
    content: "";
    display: block;
    padding-top:100%;
}
.temp-box-body {
    position:absolute;
}
.temp-box-body p:nth-child(1){
    margin-bottom:0px;
}

/* Account  */
.error {
    width: 100%;
    padding: 0;
    margin-top: 5px;
    font-size: 80%;
    color: white;
    background-color: #41728c;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}



/***************************************/
/********** CIRCUITS ANIMATIONS ********/

.blinking {
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blink {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes blink {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

